{% extends "base.html" %}
{% block title %}증명서 발급{% endblock %}
{% block content %}
  <div class="container text-center mt-5">
    <h2>증명서 발급</h2>
    <p class="my-4">발급받을 증명서 종류를 선택해주세요.</p>
    <div>
        <a href="{{ url_for('certificate.generate_prescription_pdf') }}" class="btn btn-primary btn-lg m-2">
            처방전 발급
        </a>
        <a href="{{ url_for('certificate.generate_confirmation_pdf') }}" class="btn btn-primary btn-lg m-2">
            진료확인서 발급
        </a>
    </div>
  </div>
{% endblock %}
